@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir\ Regular/Avenir\ Regular.ttf);
}

@font-face {
  font-family: Shoika semi Bold;
  src: url(../fonts/shoika/Shoika\ Semi\ Bold.ttf);
}

@font-face {
  font-family: Futura light;
  src: url(../fonts/Futura/futura\ light\ bt.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.header {
  padding: 10px;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-image: radial-gradient(#c9d8f0, #adbdf7);
}

.logo-container {
  height: auto;
  width: 8vh;
  margin-left: 3%;
}

.header-nav-container ul {
  display: flex;
}

.header-nav-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-left: 5%;
}

.header-nav {
  margin-right: 20px;
  font-family: Avenir;
  font-size: 15px;
  color: #000;
  list-style: none;
}

.header-nav a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

/* Add a hover effect to the navigation links */

.header-nav:hover div {
  background-image: linear-gradient(to top left, #e06c78, #fa9284);
}

.header-nav div {
  padding: 10px;
  border-radius: 5px;
  transition: color 0.001s;
}

.header-nav:hover {
  color: #fff;
  font-weight: bolder;
}

.login-btn-container {
  border: 1.5px solid #303e2c;
  border-radius: 18px;
  margin-right: 2%;
}

.button {
  display: flex;
  /* flex-direction: row; */
  text-decoration: none;
  /* margin: 5vh; */
  justify-content: first baseline;
  display: flex;
  float: right;
  width: 18vh;
  height: 3vh;
  align-items: center;
  justify-content: center;
  padding: 1.5vh;
}

.login-btn-txt {
  text-decoration-line: none;
  font-family: Avenir;
  font-style: normal;
  font-weight: bold;
  color: #303e2c;
}

.login-btn-container:hover {
  background-image: linear-gradient(to top left, #bed8f0, #838fe3);
  border-width: 0;
  box-shadow: 5px 5px 30px -6px #000;
}

.login-btn-container:hover {
  color: rgb(255, 255, 255);
}

.main-container {
  padding-top: 10vh;
}

.mta-building-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

.mta-building-container h1 {
  color: white;
  width: 60%;
  display: flex;
  font-family: Shoika semi Bold;
  padding-right: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  word-wrap: break-word;
  /* flex-wrap: wrap; */
}

@media screen and (max-width: 850px) {
  .mta-building-container {
    flex-wrap: wrap;
  }

  .mta-building-container img {
    width: 92%;
    text-align: center;
  }

  .mta-building-container h1 {
    width: 100%;
  }
}

.mta-building-container {
  padding-left: 5%;
  width: 95%;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  /* background-color: #e0f7e0; */
  background: linear-gradient(to bottom, #1e2d3b, #2c3e50, #34495e);
}

.mta-building-container img {
  min-width: 500px;
  border-radius: 50px;
  box-shadow: 5px 15px 40px -30px #fff;
}

.mta-building-container img:hover {
  scale: 1.05;
  transition: scale 0.2s;
}

.principal-msg-container {
  display: flex;

  /* width: 90.15%; */
  padding: 8vh 5vw;
  background-image: linear-gradient(to bottom, #34495e, #4a6785, #5c7fa0);
  flex-direction: row-reverse;
  justify-content: space-evenly;
  max-height: 800px;
  /* border: solid; */
}

.principal-photo-container {
  /* border: solid; */
  width: 450px;
}

.principal-photo-container img {
  width: 100%;
  border-radius: 70px;
}

.msg-text-container {
  /* border: solid; */
  width: 60%;
}

.principal-msg-container p {
  margin-top: 30%;
  font-size: 6vh;
  font-family: Futura light;
}
