.mta-building-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

.mta-building-container h1 {
  color: white;
  width: 60%;
  display: flex;
  font-family: Shoika semi Bold;
  padding-right: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  word-wrap: break-word;
  /* flex-wrap: wrap; */
  animation: fade 4s normal;
}

@media screen and (max-width: 850px) {
  .mta-building-container {
    flex-wrap: wrap;
  }

  .mta-building-container img {
    width: 92%;
    text-align: center;
  }

  .mta-building-container h1 {
    width: 100%;
  }
}

.mta-building-container {
  padding-left: 5%;
  width: 95%;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  /* background-color: #e0f7e0; */
  background: linear-gradient(to bottom, #1e2d3b, #2c3e50, #34495e);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mta-building-container img {
  min-width: 500px;
  border-radius: 50px;
  box-shadow: 5px 15px 40px -30px #fff;
  animation: fade 4s normal;
}

.mta-building-container img:hover {
  scale: 1.05;
  transition: scale 0.2s;
}

.principal-msg-container {
  display: flex;

  /* width: 90.15%; */
  padding: 8vh 5vw;
  background-image: linear-gradient(to bottom, #34495e, #4a6785, #5c7fa0);
  flex-direction: row-reverse;
  justify-content: space-evenly;
  max-height: 800px;
  /* border: solid; */
}

.principal-photo-container {
  /* border: solid; */
  width: 25vw;
}

.principal-photo-container img {
  width: 100%;
  border-radius: 70px;
}

.msg-text-container {
  /* border: solid; */
  width: 60%;
}

.principal-msg-container p {
  margin-top: 20%;
  font-size: 6vh;
  font-family: Futura light;
  color: white;
}

.future-events {
  background-image: linear-gradient(to bottom, #5c7fa0, #93a5ba);
  padding-top: 10vh;
  padding-bottom: 15vh;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.future-events h1 {
  font-weight: bold;
  font-size: 7vh;
  color: rgb(57, 57, 57);
  text-align: center;
  font-family: Shoika semi Bold;
}

.future-events h2 {
  /* font-style: italic ; */
  text-align: center;
  font-family: Felix Tiling;
  font-size: 5vh;
  color: rgb(57, 57, 57);
}

.future-events p {
  font-family: Shoika semi Bold;
  color: rgb(57, 57, 57);
  padding: 2vh 5vw;
  font-size: 3vh;
}

.event-description {
  border: solid;
  border-radius: 25px;
  border-color: rgb(57, 57, 57);
  margin: 0 15vw;
  padding: 2vh 0;
  margin-top: 5vh;
}

/* Also if they like to change the font color and background color of this container on hover, remind me */
.event-description:hover {
  scale: 1.05;
  transition: scale 0.1s;
}

.body-container {
  padding: 0 1vw;
  background-color: #333333;
}

.footer {
  background-color: #333333;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.c-container {
  display: flex;
  justify-content: space-evenly;
  /* width: 100%; */
}

.qlinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.qlinks a {
  text-decoration: none;
  color: white;
  font-family: Avenir;
}

.social-media-links {
  position: absolute;
  display: flex;
  right: 0;
}
